.isFavorite {
  width: 40px;
  height: 40px;
  background-image: url(../images/star-yellow.png);
  background-size: 100%;
  align-self: flex-start;
}

.notFavorite {
  width: 40px;
  height: 40px;
  background-image: url(../images/star-bw.png);
  background-size: 100%;
  align-self: flex-start;
}
